@media (max-width: 600px) {
    body {
      background-color: white;
    }
  }
.nav2 ul li{
    display: inline-flex;
    padding: 25px ; 
     color: black;
     padding-left: 10px;
     margin-right: 60px;
    }
.nav2{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-left: 25%; 
}
#lon{
    width: 50px;
    height: 50px;
}
.headbrick{
    margin-right: 60%;
}
.back{
    background-color: yellow;
    height: 150px;
    padding-bottom: 20px;
    
}
.rece{
    margin-left: 30%;
    font-size: 40px;
}
.new{
    margin-left: 30%;
    font-size: 40px;
}
#catab{
    /* padding-left: 10%; */
    margin-left: 10%;
    align-content: center;
}
.but1{
    margin-left: 20%;
    padding-top: 20px;
}
.sessions{
    margin-right: 20%;
    font-size: 20px;
}
#sara{
    width: 50px;
    height: 50px;
    margin-left: 5%;
    margin-right: 60%;
    margin-top: -30%;
}
.bcata{
    margin-left: 30%;
   padding: 1% 3%;
   /* margin-bottom:3%; */
   /* margin-top: -60%; */
}
.sir{
    margin-left: 60%;
    margin-top: -100%;
}
.icons{
    float: right;
    margin-top: -5%;
}
#women{
    height: 700px;
    width: 900px;
}
.sessions{
    float: right;
    margin-top: -40%;
    
}
#one{
    width: 500px;
    height: 500px;
}
#two{
    width: 400px;
    height: 400px;

}
#cam{
    width: 400px;
    height: 400px;
}
#three{
    width: 400px;
    height: 400px;
}
#four{
    width: 400px;
    height: 400px;
}
#six{
    width: 400px;
    height: 400px;
}
#seven{
    width: 400px;
    height: 400px;
}
#eight{
    width: 400px;
    height: 400px;
}
#star{
    width: 500px;
    height: 500px;
}
#marvel{
    width: 500px;
    height: 500px;
}
#avatar{
    width: 400px;
    height: 500px;
}
#ideas{
    width: 500px;
    height: 500px;
}
#harry{
    width: 700px;
    height: 500px;
}
#ninja{
    width: 400px;
    height: 400px;
}
#mini{
    width: 400px;
    height: 400px;
}
#classic{
    width: 400px;
    height: 400px;
}
#city{
    width: 500px;
    height: 400px;
}
#dc{
    width: 400px;
    height: 400px;
}
#disney{
    width: 400px;
    height: 400px;
}
#light{
    width: 400px;
    height: 400px;
}
#duplo{
    width: 500px;
    height: 400px;
}
.series{
    padding: 1% 1%;
    margin-left: 40%;
    background-color: yellow;
}
#newyear{
    width: 500px;
    height: 300px;
}
#birthday{
    width: 500px;
    height: 300px;
}
#pandora{
    height: 300px;
}
.more{
    display: flex;
}
.con{
    margin-left: 40%;
}
.near{
    background-color: yellow;
    
}
.kolo{
    margin-left: 40%;
}
#but7{
    background-color: red;
}
.end{
    background-color: purple;
    display: flex;
    justify-content: space-between;
}